/* Style dla footer */
.footer {
	background-color: #2f4f76; /* Ciemniejszy niebieski kolor */
	color: white;
	padding: 2rem 1rem;
	border-top: 3px solid #0056b3; /* Ciemniejsza granica na górze */
	text-align: center;
}

.footer p {
	font-size: 1rem;
	margin-bottom: 1rem;
}

.footer-links {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-links li {
	display: inline;
	margin: 0 15px;
}

.footer-links a {
	color: white;
	text-decoration: none;
	transition: color 0.3s ease;
}

.footer-links a:hover {
	color: #007bff; /* Niebieski, po najechaniu */
}
