/* Style dla nawigacji */
nav {
	.nav-list {
		display: flex;
		justify-content: center;
		list-style: none;
		padding: 2rem 1rem;
		margin: 0;
	}

	.nav-list li {
		margin: 0 15px;
	}

	.nav-list a {
		font-size: 1.1rem;
		color: black;
		text-transform: uppercase;
		padding: 0.5rem 1rem;
		display: inline-block;
		transition: background-color 0.3s ease;
	}

	.nav-list a:hover {
		background-color: #bfc9d49a;
		border-radius: 5px;
	}
}

/* Responsywność - tablet i telefon */
@media (max-width: 1024px) and (min-width: 769px) {
	nav {
		.nav-list {
			display: flex;
			justify-content: center;
			list-style: none;
			padding: 1.5rem 1rem;
		}

		.nav-list li {
			margin: 0 10px;
		}

		.nav-list a {
			font-size: 1rem;
			padding: 0.7rem 1rem;
		}

		.nav-list a:hover {
			background-color: #bfc9d49a;
			border-radius: 5px;
		}
	}
}

@media (max-width: 768px) {
	nav {
		.nav-list {
			display: block;
			text-align: center;
		}

		.nav-list li {
			margin: 10px 0;
		}

		.nav-list a {
			font-size: 1rem;
			padding: 1rem;
			display: block;
			width: 100%;
		}

		.nav-list a:hover {
			background-color: #bfc9d49a;
			border-radius: 5px;
		}
	}
}
