---
import '../styles/main.scss';

---

<footer class="footer">
  <div class="container">
    <p>&copy; 2025 IT Job Board. Wszystkie prawa zastrzeżone.</p>
    <ul class="footer-links">
<li>Polityka prywatności</li>
        <li>Regulamin</li>
<li>Kontakt</li>
    </ul>
  </div>
</footer>