---
import '../styles/main.scss';
---

<header class="header">
  <div class="container">
    <h1 class="header-title">IT Job Board</h1>
    <p class="header-description">Znajdź swoją wymarzoną pracę w IT, zdalnie lub stacjonarnie.</p>
  </div>
</header>